{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <!-- importar arquivos css -->
    <link rel="stylesheet" href="{% static "styles/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "styles/main.css" %}">
    <title>Cadastrar novo tema</title>
</head>
<body>
    <h3>Cadastrar novo tema: </h3>
    <!-- adicionar um formulário e descobrir como fazer ele salvar no banco de dados -->
    <form action="/temas/adiciona/" method="POST">
        {% csrf_token %}
        <label>Tema: <input type="text" name="tema_text"></label>
        <input type="submit" value="Cadastrar">

        {% if form.errors %}
            <div class="alert alert-danger"></div>
            <button type="button" class="close">&times;</button>
            {{form.non_field_errors}}
        {% endif %}

    </form>
    <!--TODO: inserir mensagem de tema cadastrado com sucesso -->
</body>
</html>