{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "styles/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "styles/main.css" %}">
    <title>{{ tema.tema_text }}</title>
</head>
<body>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{ tema.tema_text }}</strong>
            </div>
            <div class="panel-body">
                {% with lista_perguntas=tema.perguntas_tema.all  %}
                    {% if lista_perguntas %}
                    <ul>
                        {% for pergunta in lista_perguntas %}
                        <li>{{ pergunta.pergunta_text }}</li>    
                        {% endfor %}
                    </ul>
                        {% else %}
                        <p>Não há perguntas disponíveis para este tema.</p>
                    {% endif %}
                {% endwith %}
            </div>
        </div>

        <!--TODO: adicionar link para voltar para index -->
    </div>
</body>
</html>