{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "styles/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "styles/main.css" %}">
    <title>Temas</title>
</head>
<body>
    <div class="container">
        <h3>Temas disponíveis</h3>
        {% if msg %}
            <div class="alert alert-success">{{ msg }}</div>
        {% endif %}
        {% if lista_temas %} <!--template tag-->
            <ul>
            {% for tema in lista_temas %}
                <li class="list-group-item d-flex">
                    <a href="/temas/{{tema.id}}" class="">{{tema.tema_text}}
                        <span class="badge">{{tema.perguntas_tema.count}}</span>
                    </a>
                    <a href="">Alterar</a>
                    <a href="/temas/{{tema.id}}/delete">Excluir</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Não há temas disponíveis.</p>
        {% endif %}
        </br>
        <a href="/temas/adiciona/">Adicionar tema</a>
    </div>
</body>
</html>